<div class="container">
  <ul class="social">
    <li><a href="" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
    <li><a href="#" target="_blank"><i class="fab fa-google" aria-hidden="true"></i></a></li>
    <li><a href="" target="_blank"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
    <li><a href="#" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
  </ul>
  <ul class="social2">
    <li><a href="" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
    <li><a href="#" target="_blank"><i class="fab fa-google" aria-hidden="true"></i></a></li>
    <li><a href="" target="_blank"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
    <li><a href="#" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
  </ul>
</div>
<div class="container text-center ct2">
  <h2>Acerca de Nosotros</h2>
  <div class="row aboutdiv">
    <div class="col-md-3 col-sm-6 col-xsx-6">
              <div class="serviceBox">
                  <div class="service-icon">
                      <span><i class="fas fa-check"></i></span>
                  </div>
                  <div class="service-content">
                      <h3 class="title">Lorem ipsum.</h3>
                      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in volutpat elit. Class aptent taciti.</p>
                      <i class="read-more fa fa-plus"></i>
                  </div>
              </div>
          </div>
   
          <div class="col-md-3 col-sm-6 col-xsx-6">
              <div class="serviceBox green">
                  <div class="service-icon">
                      <span><i class="fas fa-check"></i></span>
                  </div>
                  <div class="service-content">
                      <h3 class="title">Lorem ipsum.</h3>
                      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in volutpat elit. Class aptent taciti.</p>
                      <i class="read-more fa fa-plus"></i>
                  </div>
              </div>
          </div>
  
          <div class="col-md-3 col-sm-6 col-xsx-6">
              <div class="serviceBox orange">
                  <div class="service-icon">
                      <span><i class="fas fa-check"></i></span>
                  </div>
                  <div class="service-content">
                      <h3 class="title">Lorem ipsum.</h3>
                      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in volutpat elit. Class aptent taciti.</p>
                      <i class="read-more fa fa-plus"></i>
                  </div>
              </div>
          </div>
    </div>
</div>

