<div class="container mt-5">
  <!--   https://www.jerecho.com/codepen/nike-product-page/ -->
    <div class="product-image">
      <!-- img del logo de la compa;ia
      <img src="http://co0kie.github.io/codepen/nike-product-page/nikeLogo.png" alt="" class="product-logo"> -->
      <div class="tab-content preview-pic">
        <div class="tab-pane active pic" id="pic-1">
          <img class="imgprod" src="../../../assets/imgs/black-tshirt.png">
        </div>
        <div class="tab-pane pic" id="pic-2">
          <img class="imgprod" src="../../../assets/imgs/blue-tshirt.png">
        </div>
        <div class="tab-pane pic" id="pic-3">
          <img class="imgprod" src="../../../assets/imgs/blue-tshirt.png">
        </div>
        <div class="tab-pane pic" id="pic-4">
          <img class="imgprod" src="../../../assets/imgs/blue-tshirt.png">
        </div>
      </div> 
      <div class="dots preview-thumbnail nav nav-tabs">
        <a class="active" data-target="#pic-1" data-toggle="tab"><i>1</i></a>
        <a data-target="#pic-2" data-toggle="tab"><i>2</i></a>
        <a data-target="#pic-3" data-toggle="tab"><i>3</i></a>
        <a data-target="#pic-4" data-toggle="tab"><i>4</i></a>
      </div>
    </div>
    
    <div class="product-details">
      <header>
        <h1 class="title">Polo UltraMegaCool</h1>
        <div class="price">
          <span class="before">$150</span>
          <span class="current">$144.99</span>
        </div>
        <div class="rate">
          <a href="#!" class="active">★</a>
          <a href="#!" class="active">★</a>
          <a href="#!" class="active">★</a>
          <a href="#!">★</a>
          <a href="#!">★</a>
        </div>
      </header>
      <article>
        <h5>Description</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </article>
      <div class="controls">
        <div class="color">
          <h5>color</h5>
          <ul>
            <li><a href="#!" class="colors color-bdot1 active"></a></li>
            <li><a href="#!" class="colors color-bdot2"></a></li>
            <li><a href="#!" class="colors color-bdot3"></a></li>
          </ul>
        </div>
        <div class="size">
          <h5>Tamaño</h5>
          <select class="form-control option">
            <option value="">S</option>
            <option>M</option>
            <option>L</option>
            <option>XL</option>
          </select>
        </div>
        <div class="qty">
          <h5>Cantidad</h5>
          <select class="form-control option">
            <option value="">S</option>
            <option>M</option>
            <option>L</option>
            <option>XL</option>
          </select>
        </div>
      </div>
      <div class="footer">
        <button type="button">
          <i class="fas fa-shopping-cart"></i>
          <span>add to cart</span>
        </button>
      </div>
    </div>
  </div>